.view.ng-enter {
    animation: scaleUp 0.5s both  ease-in;
    z-index: 8888;
}

.view.ng-leave {
    animation: slideOutLeft 0.5s both ease-in;
    z-index: 9999;
}

@keyframes slideOutLeft {
    to {
        -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
        transition: opacity(0);
    }
}

@keyframes scaleUp {
    from {
        opacity: 0;
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

